[submodule "plugins/firfilt"]
	path = plugins/firfilt
	url = https://arnodelorme@github.com/widmann/firfilt.git
[submodule "plugins/dipfit"]
	path = plugins/dipfit
	url = git@github.com:eeglabdevelopers/dipfit.git
